<a href="https://colab.research.google.com/github/dahee721/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [ ]:
a = (1, 2, 3, 4)
for i in a:
    print(i)

1
2
3
4

In [ ]:
a = '1234'
for i in a:
    print(i)

1
2
3
4

In [ ]:
a = [1, 2, 33, '120','tree']
for i in range(3):                     #range(3)은 0,1,2 총 3개의 숫자를 만든다
    print(a[i])                        #따라서 print(a[i])를 통해 a의 0번째, 1번째, 2번째를 프린트한다.

1
2
33

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]
for i in range(len(a)):                 #len(a)는 a의 길이를 물어보는 것이다. len(a)=7
    print(a[i])

1
2
3
4
5
6
7

In [1]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,4):                             #range(0,4)=range(4) 0부터 4이전까지
    print(a[i])

1
2
3
4

In [2]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range(4):
    print(a[i])

1
2
3
4

In [4]:
a=[11,12,13,14,15,16,17,18,19,20]
for i in range(0,4,2):                     #range(0,4,2)는 0부터 4이전까지 2칸씩 띄기
    print(a[i])

11
13

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = 0                                                         # =은 오른쪽 값을 왼쪽에 assign
if a == 0:                                                    # ==은 진짜 같다는 의미
    print(a)
else:
    print(a+1)

0

In [5]:
a=10
if a ==12:
    print(a)
else:
    print(a+15)

25

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']