<a href="https://colab.research.google.com/github/dahee721/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 123; print(type(a))

<class 'int'>

In [2]:
a = float(a); print(type(a))

<class 'float'>

In [3]:
a = 1.25; print(type(a))      #float 는 실수를 뜻함

<class 'float'>

In [6]:
a = '123'; print(type(a))     #리스트 맨 처음 문자열은 0부터 시작함
print(a[0])

<class 'str'>
1

In [9]:
a = 'abcedf' 
print(type(a))
print(a)
print(a[2])

<class 'str'>
abcedf
c

In [11]:
a = [1,'2', [3, '4']]
print(type(a))
print(a[0])
print(a[2])

<class 'list'>
1
[3, '4']

In [12]:
a = (1,'2', [3, '4'])
print(type(a))
print(a[2])

<class 'tuple'>
[3, '4']

In [13]:
a=[1,2,'10',[100,'103','love']]  #list는 바꿀 수 있음
print(type(a))
a[2]=5
a

<class 'list'>

[1, 2, 5, [100, '103', 'love']]

In [15]:
a=[1,2,'10',[100,'103','love']]  #list는 바꿀 수 있음
print(a[3])
a[3]='5'
a

[100, '103', 'love']

[1, 2, '10', '5']

In [18]:
a=(1,'3',[5,'english'])
print(type(a))
a[2]=0                         #tuple은 바꿀 수 없음
print(a)

<class 'tuple'>

TypeError: ignored

In [19]:
a=(1,'3',[5,'english'])
print(type(a))

<class 'tuple'>

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [23]:
a =	{'a': 'apple', 'b': 1.2, 'c': '2021'}
a['b']=(100,110)
print(a['b'])

(100, 110)

In [24]:
a =	{'a': 'apple', 'b': 1.2, 'c': '2021'}      #dictionary에는 순서가 없음. 
a[0]

KeyError: ignored

In [25]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]